<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Montserrat+Alternates:300,400,600,800&display=swap" rel="stylesheet">
    <title>Mastador de Monstro</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/7898b0f2e4.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue"></script>
</head>
<body>
    <dive id="app">
        <div class="painel scores">
            <div class="score">
                <h1>Jogador</h1>
                <div class="life-bar">
                    <div class="life"
                    :class="{danger:playerLife < 20}"
                    :style="{width: playerLife + '%'}"></div>
                </div>
                <div>{{playerLife}}%</div>
            </div>
            <div class="score">
                <h1>Monstro</h1>
                <div class="life-bar">
                    <div class="life"
                    :class="{danger:monsterLife < 20}"
                    :style="{width: monsterLife + '%'}"></div>
                </div>
                <div>{{monsterLife}}%</div>
            </div>
        </div>
        <div v-if="hasResult" class="painel result">
            <div v-if="monsterLife == 0" class="win">Você Ganhou!! <i class="fas fa-trophy"></i></div>
            <div v-else class="lose">Você Perdeu!! :(</div>
        </div>
        <div class="painel buttons">
            <template v-if="running">
                <button @click="attack(false)" class="btn attack"> Ataque</button>
                <button @click="attack(true)" class="btn especial-attack">Ataque Especial</button>
                <button @click="healAndHurt"class="btn heal">Curar</button>
                <button @click="running = false" 
                class="btn give-up">Desistir</button>
            </template>
            <button v-else @click="startGame"
             class="btn new-game">Iniciar Jogo</button>
        </div>
        <div    
            v-if="logs" class="painel logs">
        <ul>
            <li v-for="log in logs" class="log" :class="log.cls">{{log.text}}</li>
        </ul>
        </div>
    </dive>
    <script src="app.js"></script>
</body>
</html>