
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
<script src="https://unpkg.com/vue"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<div id="app">
    <div class="placar">
        <div class="jogador"></div>
        <div class="monstro"></div>
    </div>
    <hr>
<template v-if="!desistiu">
    <button type="button" class="btn btn-danger">Ataque</button>
    
    <button type="button" class="btn btn-warning">Ataque especial</button>
    
    <button type="button" class="btn btn-lg btn-success">Curar</button>
    
    <button type="button" class="btn btn-lg btn-default" @click="desistiu = !desistiu">Desistir</button>
</template>    
    
    <template v-if="desistiu">
        <button type="button" class="btn btn-lg btn-primary" @click="desistiu = !desistiu">Iniciar</button>
    </template>
    
    <hr>

    <div class="log">
        <ul>
            <li>

            </li>
        </ul>
    </div>
</div>
<script src="destruidor-de-monstros.js"></script>